---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	description="Lorem ipsum dolor sit amet"
	heroImage="/images/main/selfcamo.webp"
	>
	<p>
		This site will serve a few major functions I have identified as a deficiency. I need to keep a 
		journal of my daily IT activities - for reflection and for reference on future projects. Further, 
		to practice communication and technical writing which are important aspects of the IT industry - 
		documentation is important! But additionally it serves as an outlet of expression and design which 
		are at the core of my curiosity.
	</p>
	<p>
	<blockquote>"It's actually a rare and precious thing to discover what it is you love to do, and I encourage you 
		to remain unapologetically consumed by it. Be faithful to your gift and very confident in its value." ~ Jonathan Ive</blockquote>
	</p>
	<p>
		Being a child of the 80s a good portion of my experience was never documented anywhere. After school MS-DOS class, 
		hardware hacking experiments, software jailbreaking in the early days of the Motorola RAZR and iPhone, to physical 
		customization feats for the sake of transparency - literal transparency. One of the inspirations for an old project 
		is still online at Apple Fritter. Imagine taking a transparent iBook through the airport… yeah, TSA didn’t really 
		like that - almost confiscated my laptop.
	</p>
	<p>
		Even in my early days of gaming, I relentlessly pursued the understanding of advanced configurations of Windows. 
		Analyzing every single service and making edits to the Registry to ensure I minimized the usage of resources to the 
		bare minimum; remember nLite? All that was to avoid my laptop getting to hot and to maximize frames per second. 
		I think I enjoyed tinkering with the OS more than the games we were playing.
	</p>
	<p>
		I have developed a tremendous amount of technical skill that I often struggle to verbalize on a resume. 
		I hope that through my exploration here I can reveal a speck of that skill and continue to grow in the process.
	</p>
	<p>
	How people think it looks working at a BASH shell.
	<img src="/images/main/BASH.gif" alt="BASH Meme"/>
	</p>
</Layout>
