---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Change in Motion moved!</h1>
		<p></p>
			<p>
				Welcome to <a href="https://astro.build/integrations">Astro!</a> Astro is a web framework for building content-driven 
				websites—blogs, marketing pages, e-commerce, and the like. It’s known for its modern approach to frontend architecture,
				 reducing JavaScript overhead and simplifying the overall development experience.
			<p>
				A lot of my older content has been migrated from WordPress, and working in Visual Studio Code with GitHub already feels 
				worlds better. Editing, deploying, and experimenting with commits, branches, and pull requests gives me room to learn in 
				ways WordPress never really encouraged. And honestly, doing a bit of design and writing code is simply more enjoyable than 
				wrestling with the WordPress editor.
			</p>
			<p>
				Since this is my current focus, I’ll be restructuring and reformatting the site for a bit. After that, I’ll return to my 
				usual adventures with Kubernetes and other IT projects.
			</p>
			<p>
				Now on to the big questions? avif or webp for images? XD
		</main>
		<Footer />
	</body>
</html>
